#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 80vh;   
    background-blend-mode: overlay;    
  }

  .two{
   
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }

  .three{
    height: 65vh;
  }
  
  .swiper-slide {
    text-align: center;
    /* width: 100% !important;  */
    font-size: 18px;
    /* background-image: linear-gradient(to right , #fffefe, #d3caca47),;     */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
   /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  */
  
  .bg-one{
    background-image: linear-gradient(to right , #fffefe, #d3caca47), url('./assets/bannerimg2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-two{
    background-image: linear-gradient(to right , #fffefe, #d3caca47), url('./assets/bannerimg1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-three{
    background-image: linear-gradient(to right , #fffefe, #d3caca47), url('./assets/bannerimg3.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }



  @media screen and (max-width: 576px) {
    .swiper-slide {
      /* text-align: center; */
      width: 100% !important; 
      
    }
  }